<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white text-center">
          <h4>Login</h4>
        </div>
        <div class="card-body p-4">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" id="username" formControlName="username" name="username" class="form-control" placeholder="Enter your username">
              <div *ngIf="f['username'].invalid && f['username'].touched" class="text-danger mt-1">
                <small *ngIf="f['username']?.errors?.['required']">Username is required</small>
                <small *ngIf="f['username']?.errors?.['pattern']">Username cannot contain special characters.</small>
              </div>
            </div>
 
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" id="password" formControlName="password" name="password" class="form-control" placeholder="Enter your password">
              <div *ngIf="f['password'].invalid && f['password'].touched" class="text-danger mt-1">
                <small *ngIf="f['password']?.errors?.['required']">Password is required</small>
                <small *ngIf="f['password']?.errors?.['minlength']">Password must be at least 8 characters long.</small>
                <small *ngIf="f['password']?.errors?.['pattern']">Password must contain at least one capital letter and one numeric digit.</small>
              </div>
            </div>
 
            <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">Login</button>
          </form>
 
          <div class="text-center mt-3">
            <a [routerLink]="['/auth/register']" class="text-decoration-none">Sign up</a>
          </div>
 
          <div *ngIf="errorMessage" class="alert alert-danger mt-3">
            <p>{{errorMessage}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 